body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Creepster', cursive; /* Шрифт для хоррор-атмосферы */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1, h2, h3 {
    color: #ff4444;
    text-shadow: 2px 2px 4px #000000;
}

button {
    background-color: #ff4444;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    text-align: center;
    max-width: 600px;
    margin: 20px;
}